<div class="login-form">
    <form>
      <h1>Reset Password</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" placeholder="Enter New Password" autocomplete="new-password">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Confirm Password" autocomplete="confirm-password">
        </div>
       
      </div>
      <div class="action">
        <button style="background: #2d3b55;
        color: #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;" (click)="goToResetSuccessfull()">Reset Password</button>
        
      </div>
    </form>
  </div>