<div class="login-form">
    <form>
      <h1>Register</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" placeholder="First Name" autocomplete="nope">
          <input type="text" placeholder="Last Name" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" autocomplete="new-password">
        </div>
        Already have an account <a  class="link"  style="cursor: pointer;" (click)="goToLogin()">Sign in</a><button></button>
      </div>
      <div class="action">
        <button style="background: #2d3b55;
        color: #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;" (click)="goToLogin1()">Register</button><br>
       
      </div>
      
    </form>
  </div>